
.card{background-color
    background-image
    background-repeat
    background-attachment
    background-position
    border-style: ;
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    
    
}

text-decoration-line
text-decoration-color
text-decoration-style
text-decoration-thickness
text-decoration


a:link {}
a:visited{}
a:hover{}
a:active{}
tr:nth-child(even) {background-color: #f2f2f2;}

overflow: scroll;

img {
    display: block;
    margin-left: auto;           /*to center image*/
    margin-right: auto;
    width: 40%;
     }

  img {
    opacity: 0.5;
  }
  
  img:hover {
    opacity: 1.0;
}

/*<div class="dropdown">
  <span>Mouse over me</span>
  <div class="dropdown-content">
  <p>Hello World!</p>
  </div>
</div>*/
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;                      
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* form button */
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }